<div class="nested-fields">
  <div class="add-fields">
    <%= f.text_area :step,:cols=>'30',:rows=>'4' %>
    <%= link_to_remove_association '', f, :class => 'del-list fa fa-trash' %>
  </div>
</div>
