<h1>Editing Recipe</h1>

<%= render 'form' %>

<div class="recipes-home-body inner-page">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-lg-9">
        <div class="recipe-set submit-recipe-set">

          <div class="submit-recipe-form">

            <%= link_to 'Show', @recipe,:class => 'btn btn-primary' %>
            <%= link_to 'Back', recipes_path,:class => 'btn btn-info' %></div>

        </div>
      </div>
    </div>
  </div>
</div>
