<div class="animate-footer footer footer-variant-one footer-fluid">
  <div class="container">
    <div class="footer-inner">
      <div class="text-center">
        <a class="logo-footer wow animated zoomIn" href="<%= root_path %>">

          <%= image_tag 'logo2.png' %>
          
        </a>

        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore<br/>
          magna aliquyam erat, with an extra ordinary design and quality development features in low
        </p>

      </div>

      <div class="subs-social-options">
        <div class="row custom-row-footer">
          <div class="col-md-6 custom-col-options">
            <div class="left-side">
              <div class="widget widget-footer news-letter-signup">
                <h2>Newsletter Signup</h2>

                <form class="subs-form" action="#" method="post">
                  <div class="email-field">
                    <input type="email" name="email" placeholder="Enter you email address"/>
                    <button><i class="fa fa-paper-plane-o"></i></button>
                  </div>
                </form>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="right-side">
              <div class="widget widget-footer social-icons">
                <h2>Get Social with Us</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center wow animated flipInY">
        <p>&copy; Copyright 2015 All Rights Reserved by <a href="#">Majestic Themes</a></p>
      </div>
      <div class="corner-image wow animated fadeInRight">
        <img src="images/footer-corner-image.jpg" alt="image"/>
      </div>
    </div>
  </div>
</div>